<div class="row-fluid">
  <%= render :partial => 'sidebar' %>
  <div class="span9 row">
    <% @wine_groups.each do |wine_group| %>
    <div class="span3">
      <%= link_to wine_group.name, final_award_path(wine_group.id) %>
    </div>
    <% end %>
  </div>
</div>
